h5
  margin-top 2rem
  margin-bottom 0
  margin-bottom 0.5rem

button
  color white
  background-color #4d64ca
  border 0.1rem solid #4d64ca

.primary
  padding 0 .3em
  max-width 4rem
.button:focus, .button:hover,
button:focus,
button:hover
  background-color darkblue
  border-color darkblue

.flex
  display flex
  justify-content space-between
  button
    align-self center
input, button
  margin .75rem .5rem

td:first-child, th:first-child
  padding-left 1rem
