.button, button, input[type='button'], input[type='reset'], input[type='submit'] 
  background-color #4d64ca
  border 0.1rem solid #4d64ca

.button.button-outline, button.button-outline, input[type='button'].button-outline, input[type='reset'].button-outline, input[type='submit'].button-outline
  color #4d64ca
